.footer__column-link:hover {
  color: #0f0;
}

.footer__column-link{
  padding: 0px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 16px;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  list-style: none;
}
