.feinman__link:hover {
  color: #0f0;
}

.feinman__link{
  color:  black;
  position: absolute;
  line-height: 51px;
  font-size: 36px;
  right: 48px;
  top: 50%;
  align-self: flex-end;
  text-decoration: none;
}
