@import url(./__title/feinman__title.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__link/feinman__link.css);

.feinman{
  height: 790px;
  background-color: #F2F2F2;
  display: flex;
  background-image: url(/images/feinman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 867px 637px;
  flex-direction: column;
  position: relative;
}
